@font-face {
    font-family: 'Medieval'; /* Nombre para referenciar esta fuente */
    src: url('Medieval.ttf');
}

.button {
    -fx-font-family: 'Medieval', monospace;
    -fx-font-size: 18px;
    -fx-background-color: #8B4513; /* Marron oscuro */
    -fx-text-fill: #FFD700; /* Dorado */
    -fx-border-color: #DAA520; /* Goldenrod */
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #A0522D; /* Siena */
}

.button:pressed {
    -fx-background-color: #654321; /* Marron oscuro */
    -fx-text-fill: #FFF8DC; /* Cornsilk */
}