/* https://guigarage.com/2014/10/integrate-custom-fonts-javafx-application-using-css/ */

/* A partir de Java >= 1.8u60 se ignora el atributo “font-family” y hay que utilizar el nombre real del TTF. Basicamente
 * el selector @font-face para especificar la fuente no parece ser necesario. */
/* @font-face {
    font-family: 'Medieval';
    src: url('medieval.ttf');
} */

/* Para definir una fuente global para todos los componentes, simplemente puede configurar la fuente en la clase de
 * estilo .text. La forma Text en JavaFX contiene esta pseudoclase de forma predeterminada y todos los nodos que
 * representan un texto en la pantalla usan la forma Text internamente. */
.text {
    -fx-font-family: 'BlackPearl', monospace; // Knights Quest
}

.button {
    -fx-font-size: 18px;
    -fx-background-color: #8B4513; /* Marron oscuro */
    -fx-text-fill: #FFD700; /* Dorado */
    -fx-border-color: #DAA520; /* Goldenrod */
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #A0522D; /* Siena */
}

.button:pressed {
    -fx-background-color: #654321; /* Marron oscuro */
    -fx-text-fill: #FFF8DC; /* Cornsilk */
}